
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sour Gummy", sans-serif;
  color: aliceblue;
}

html{
  scroll-behavior: smooth;
}

#inicio{
background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../assets/ballet.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#inicio .contenido header{
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

#inicio .contenido header .contenido-header{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
#inicio .contenido header .contenido-header h1{
  text-align: center;
  color: rgb(143, 181, 255);;

}

#inicio .contenido header .contenido-header nav ul{
  list-style:  none;
  display: flex;
  align-items: center;
}
#inicio .contenido header .contenido-header nav ul li a{
  text-decoration: none;
  color: #FFF;
  margin: 0 12px;
  font-weight: 400;
  transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover{
  color: rgb(143, 181, 255); 
}

#inicio .contenido .presentacion{
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  columns: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inicio .contenido .presentacion .bienvenida{
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}

#inicio .contenido .presentacion h2 span{
  font-size: 55px;
  color:  rgb(143, 181, 255);;
}

#inicio .contenido .presentacion .descripcion{
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

#inicio .contenido .presentacion a{
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid #FFF;
  border-radius: 50px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
}

#inicio .contenido .presentacion a:hover{
  background-color: rgb(176, 198, 231);
  
}
#icono-nav{
  color: #FFF;
  display: none;
}

#inicio .contenido header .contenido-header .redes a{
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  margin-left: 10px;
  transition: 5s;

}

#inicio .contenido header .contenido-header .redes a:hover{
  color: rgb(2, 10, 22);
}
#sobremi{
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: black;
  display: flex;
}

#sobremi .contenedor-foto{
  max-width: 400px;
  margin-right: 80px;
}

#sobremi .contenedor-foto img{
  
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #FFF;
}

#sobremi .sobremi{
  margin: 0 40px;

}

#sobremi .sobremi .titulo-seccion{
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.979);
  text-decoration: underline;
  text-decoration: rgb(143, 181, 255);
  text-decoration-thickness: 5px;
}

#sobremi .sobremi h2{
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}


#sobremi .sobremi h3{
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#sobremi .sobremi p{
  font-size: 14px;
  line-height: 25px;
  color: black;
  margin-bottom: 12px;
}

#sobremi .sobremi a{
  display: inline-block;
  text-decoration: none;
  color: black;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid black;
  margin-top: 30px;
  transition: .5s;
}
#sobremi .sobremi a:hover{
  background-color: rgb(143, 181, 255);
  color: #FFF;
}

#servicios{
padding: 100px 15px;
text-align: center;
background-color: rgb(189, 211, 255);
}
#servicios .titulo-seccion{
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  text-decoration: underline;
  text-decoration: #8fb5ff;
  text-decoration-thickness: 5px;
}

#servicios .fila{
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 30px auto;
}

#servicios .fila .servicio{
  max-width: 350px;
  background-color: #FFF;
  padding: 30px;
  margin: 0 5px;
  border-radius: 15px;
  transition: .5s;
}

#servicios .fila .servicio:hover{
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio h4{
  font-size: 22px;
  margin-bottom: 25px;

}
#servicios .fila .servicio .icono{
  display: inline-block;
  width: 60px;
  border-radius: 50%;
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 25px;
}

#servicios .fila .servicio hr{
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;

}

#servicios .fila .servicio ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}
#servicios .fila .servicio p{
  font-size: 14px;
  line-height: 22px;
}

#contenedor-skills{
  background: linear-gradient(rgb(131, 193, 244), rgba(143, 180, 255, 0.839)), url("../assets/1854894.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 120px 0;
  text-align: center;
}

#contenedor-skills .skill{
  max-width: 600px;
  margin: 30px auto;
}

#contenedor-skills .skill .info{
  display: flex;
  justify-content: space-between;
}

#contenedor-skills .skill .lista{
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: rgb(243, 247, 247);
}
#contenedor-skills .skill .barra{
  background-color: antiquewhite;
  width: 100%;
  height: 6px;
  margin: 10px 0;
}

#contenedor-skills .skill .barra .barra-progreso1{
  background-color: #374d79;
  width: 70%;
  height: 6px;
  animation: progreso1 3s forwards;

}

@keyframes progreso1{
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}

#contenedor-skills .skill .barra .barra-progreso2{
  background-color: #374d79;
  width: 20%;
  height: 6px;
  animation: progreso2 3s forwards;
}

@keyframes progreso2{
  0%{
    width: 0%;
  }
  100%{
    width: 20%;
  }
}
#contenedor-skills .skill .barra .barra-progreso3{
  background-color: #374d79;
  width: 40%;
  height: 6px;
  animation: progreso3 3s forwards; 
}

@keyframes progreso3{
  0%{
    width: 0%;
  }
  100%{
    width: 40%;
  }
}

#contenedor-skills .skill .barra .barra-progreso4{
  background-color: #374d79;
  width: 90%;
  height: 6px;
  animation: progreso4 3s forwards;
}
@keyframes progreso4{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

#portafolio{
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
}

#portafolio .titulo-seccion{
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.979);
  text-decoration: underline;
  text-decoration-color: rgb(143, 181, 255);
  text-decoration-thickness: 5px;
}

#portafolio .fila{
  display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portafolio .fila .proyecto{
  max-width: 450px;
  border: 1px solid black;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

#portafolio .fila .proyecto img{
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  object-fit: cover;
  transition: .5s;
}

#portafolio .fila .proyecto:hover img{ 
  filter: grayscale(0);
}

#portafolio .fila .proyecto .info{
  position: absolute;
  left: 0;
  background-color: #8fb5ff;
  color: #8fb5ff;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: .5s;
}

#portafolio .fila .proyecto:hover .info{
  opacity: 1;
  bottom: 0;
}

#contacto{
  padding: 100px 15px;
}

#contacto .titulo-seccion{
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.979);
  text-decoration: underline;
  text-decoration-color: rgb(143, 181, 255);
  text-decoration-thickness: 5px;
  margin-bottom: 20px;
}

#contacto .contenedor-form{
  max-width: 1100px;
  margin: auto;
}

#contacto .contenedor-form .fila{
  margin-bottom: 15px;
}

#contacto .contenedor-form .mitad{
  display: flex;
  justify-content: space-between; 
}
#contacto .contenedor-form input, #contacto .contenedor-form textarea{
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #565656; 
}

#contacto .contenedor-form .fila .input-full{
  width: 100%;  
}
#contacto .btn-enviar{
  display: block;
  margin: auto;
  cursor: pointer;
  transition: .5s;
  padding: 10px 15px;
}

#contacto .btn-enviar:hover{
  background-color: #8fb5ff;
  color: #FFF;
}

footer{
  padding: 60px 0;
  background-color: #bad0fd;
  color: #000;
  text-align: center;
}

footer a{
  text-decoration: none;
  color: #000;
  display: inline-block;
  margin: 10px;
  font-size: 30px;
}

@media screen and (max-width:800px){
  .redes{
    display: none;
  }
  nav{
    display: none;
  }
  nav.responsive{
    display: block;
    background-color: #000;
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    padding: 10px 0;
  }
  nav.responsive ul{
    display: block;
    text-align: center;
  }
  nav.responsive ul li{
    margin: 5px 0;
  }
  #icono-nav{
    display: block;
  }
  #inicio .contenido .presentacion h2{
    font-size: 40px;
  }
  #sobremi{
    padding: 50px 0;
    display: block;
    text-align: center;
  }
  #sobremi .contenedor-foto{
    max-width: 300px;
    margin: auto;
  }
  #sobremi .contenedor-foto img{
    padding: 8px;
  }
  #sobremi .sobremi .titulo-seccion{
    text-align: center;
  }
  #sobremi .sobremi h2{
    font-size: 25px;
    text-align: center;
  }
  #sobremi .sobremi h3{
    font-size: 25px;
    text-align: center;
  }
  #sobremi .sobremi p{
    font-size: 16px;
    text-align: center;
  }
  }



